@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

body {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  margin: 0;
  padding: 0;
  background-color: white;
}

/* Dashboard */
.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 20px;
  padding-top: 8%;
}

.total-card,
.chart-card {
  background-color: #cfdefa;
  color: #246af3;
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  font-weight: bold;
}

.total-card {
  font-size: 24px;
}

.total-count {
  font-weight: 400;
}

/* Chart card spans all columns on larger screens */
.chart-card {
  grid-column: span 3;
  height: 300px;
}

/* Footer */
footer {
  color: #246af3;
  text-align: center;
  font-family: "DM Sans", sans-serif;
  bottom: 0;
  left: 0;
  width: 100%;
}

/*
  Media query at the very end to ensure it overrides everything else
*/
@media screen and (max-width: 768px) {
  .main {
    grid-template-columns: 1fr;
  }
  .chart-card {
    grid-column: 1 / -1;
  }
}
