@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

label {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #fff;
}


/* Table */
table{
    margin: 10px;
    background-color: #fff;
}

#table-container, #query-container{
    margin: 10px auto;  
}

h3{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: #246af3;
    text-align: center;
}

th {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #fff;
    padding: 20px;
    background-color: #246af3;
    text-align: center;
}

tr, td {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #26344b;
    padding: 10px;
    background-color: #cfdefa;
    text-align: center;
}

td a#edit{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #246af3;
    color: #fff;
    border-radius: 5px;
    text-decoration:none;
    padding: 5px;
}

td a#delete{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: #ff0000;
    color: #fff;
    border-radius: 5px;
    text-decoration:none;
    padding: 5px;
    margin-left: 5px;
}

td a#delete:hover, a#edit:hover{
    background-color: #26344b; 
}

/* Form */
button, select, input {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #26344b;
    border-radius: 5px; 
}

select {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 5px; 
    color: #26344b; 
    border: none; 
    border-radius: 5px; 
}

label {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #26344b;
}

body {
    background-color: #fff;
}

/* Header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #246af3;
    color: #ffc947;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    box-shadow: 5px 10px 18px #bebebe;
}

.logo {
    margin: 0;
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
    margin-right: -100px;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    transition: 0.3s;
}

.nav a:hover {
    color: #ffc947;
    font-weight: bold;
    text-decoration: none;
}

.profile {
    position: relative; 
    margin-right: 50px;
}

.container {
    display: flex; 
}
  
.buttons {
    flex: 0 0 10%; 
    display: flex; 
    flex-direction: column; 
    margin-right: 10px; 
    padding: 20px;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
  
.buttons button {
    margin-bottom: 5px; 
    background-color: #246af3; 
    color: #fff;
    padding: 10px 15px; 
    border: none; 
    border-radius: 5px; 
    font-size: 14px;
    text-align: center;
}

.buttons button:hover{
    background-color: #26344b; 
}
  
.form {
    flex: 1; 
    margin: 10px;
    line-height: 2;
    background-color: #cfdefa;
    padding: 20px;
    border-radius: 20px;
}

body{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

/* Pagination */
.pages {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
  
.pages button {
    padding: 5px 10px; 
    border: 1px solid #246af3; 
    border-radius: 0px;
    text-decoration: none; 
    color: #26344b; 
}

.pages button:hover {
    background-color: #26344b;
    color: #fff;
}

/* Update Form */
#update_heading{
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    color: #26344b;
    text-align: center;
}

#update_form{
    line-height: 2;
    background-color: #cfdefa;
    padding: 20px;
    margin-left: 25%;
    margin-right: 25%;
    border-radius: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#update_form #submit_button, #update_form button, .form button{
    background-color: #fff;
    border: 1px solid #246af3;
    padding: 5px;
}

#update_form #submit_button:hover, #update_form button:hover, .form button:hover{
    color: #fff;
    background-color: #26344b;
}

/* Dropdown on Profile */
.user-dropdown {
    display: none;  
    position: absolute;  
    top: 100%;  
    right: 0;  
    background-color: #fff;  
    padding: 0 30px 30px 30px;
    border-radius: 5px;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
}

.user-dropdown::after {  
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-left: 0 solid transparent; 
    border-right: 5px solid transparent;
    border-bottom: 5px solid #fff;
    position: absolute;
    bottom: -10px;  
    right: 10px; 
}

.user-dropdown a {
    text-decoration: none;
    color: #246af3;
    margin-bottom: 5px;
}

.user-dropdown-toggle.active + .user-dropdown { /* Show dropdown on click */
    display: block;
}

.user-dropdown p {
    color:#246af3;
    font-weight:bold;
}
  
.profile a img {
    border-radius: 50%;
}

.main {
    padding-top: 8%;
}

/* Search Bar */
.search-bar{
    display: grid;
    place-items:center;
}
.search-bar input{
    width: 50%;
    padding: 10px;
    color:#246af3;
}

/* Toggle Password */
.togglePassword {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Footer */
footer {
    color: #246af3;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    padding: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
}